/.vscode
/5lab1.pdf
/5lab2.pdf
/a.out
/assignment-01.pdf
/cns lab-1.pdf
/cns-lab-format.docx
/code.PNG
/connect.PNG
/cryption.c
/Cryptography_and_Network_Security.pdf
/de.c
/decryptrail.c
/e.c
/generic.PNG
/LAB2.docx
/LAB_3.docx
/mam.c
/model.c
/mono.c
/mono_alpha_obj2.c
/oneround.PNG
/pa.c
/playfair.c
/playfair_mod.c
/socket2.PNG
/test.txt
/xor.c
/xor127.c